@model IEnumerable<Proyecto_RadixWeb.Models.contratos>

@{
    ViewBag.Title = "Index";
}

<div style="height: 256px;width: 1000px;margin-left: 284px;margin-top: 65px;">

    <h3>
        @Html.ActionLink("Nueva Persona", "RedirecionarPersonas", new { id = ViewBag.subemp_id, nom = ViewBag.subemp_nom })
   
    </h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Con_FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Con_FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Con_Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.personas.Per_Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.planillascontratos.PC_Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.subempresas.Sub_Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tiposcontratos.TCon_Nom)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Con_FechaInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Con_FechaFin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Con_Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.personas.Per_Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.planillascontratos.PC_Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.subempresas.Sub_Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tiposcontratos.TCon_Nom)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Con_Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Con_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Con_Id })
                </td>
            </tr>
        }

    </table>
    </div>