@model IEnumerable<Proyecto_RadixWeb.Models.subempresas>

@{
    ViewBag.Title = "Index";
}
<div style="height: 256px;width: 1000px;margin-left: 284px;margin-top: 65px;">

    <h3>
        @Html.ActionLink("Nueva Sucursal", "Create", new { emp_id = ViewBag.emp_id, empresa = ViewBag.empresa })
    </h3>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sub_Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sub_Cant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sub_Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sub_Dir)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.comunas.Com_Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.empresas.Emp_Nom)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Sub_Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sub_Cant)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sub_Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sub_Dir)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.comunas.Com_Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.empresas.Emp_Nom)
                </td>
                <td>
                    <a href="@Url.Action("Index", "contratos", new { Id = item.Sub_Id })">
                        Ver Información
                    </a>|
                    @Html.ActionLink("Detalle", "Details", new { id = item.Sub_Id }) |
                    @Html.ActionLink("Edit", "Edit", new { id = item.Sub_Id }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.Sub_Id })
                </td>
            </tr>
        }

    </table>

</div>